

<div class="container">
  <div class="columns is-centered">
    <div class="box column is-one-quarter">
      <h1 class="title has-text-centered">Password Generator</h1>

      <div class="field">
        <label class="label" for="Length">Enter Length </label>
        <div class="control">
          <input class="input is-fullwidth" (change)="handlePasswordChange($event)" type="number" name="length" id="Length"> 
        </div>
      </div>
      
      
      <div class="field">
        <div class="control">
          <label class="checkbox" for="Letters">
            <input (click)="toggleContainLetters()" type="checkbox" name="letters" id="Letters">
            Use Letters 
        </label>
        </div>
      </div>
      
      <div class="field">
        <div class="control">
          <label class="checkbox" for="Numbers">
            <input (click)="toggleContainNumbers()" type="checkbox" name="numbers" id="Numbers">
            Use Numbers 
        </label>
        </div>
      </div>
      
      <div class="field">
        <div class="control">
          <label class="checkbox" for="Symbols">
            <input (click)="toggleContainSymbols()" type="checkbox" name="symbols" id="Symbols">
            Use Symbols 
        </label>  
        </div>
      </div>
        
      <button [disabled]="getButtonActive()" class="button is-primary is-fullwidth" (click)="createPassword()">Generate!</button>
 
      
      <div *ngIf="password" class="field">
        <label class="label">Your Password </label>
        <div class="control">
          <input [readonly]="true" class="input" type="text" [value]="password">
        </div>
        <!-- 
          Others ways
          <input type="text" value="{{password}}">
      
          if function
          <input type="text" [value]="getPassword()">
        -->
      </div>
    </div>
  </div>
</div>





